# Requirements for the KeOps doc and tutorials:
sphinx
sphinx-gallery
recommonmark
myst-parser
sphinxcontrib-httpdomain
sphinx_rtd_theme
sphinx-prompt
breathe
imageio
gpytorch
plotly
si_prefix
scikit-learn
multiprocess
pandas

# Extra requirements for the GeomLoss doc:
plyfile
SimpleITK
scikit-image
# pyvtk  # dropped for pyvista
pyvista
